<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Raleway:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <!--STYLES-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}" />
    <title>{% block title %}{% endblock %} | CAMINO Salud Metropolitano</title>
  </head>
  <body>
    <header>
      <div class="logo-container logo-container-header">
        <a href="/"
          ><img
            class="logo-img"
            src="{{url_for('static',filename='img/LogoPSD.png')}}"
            alt="CAAMINO Salud Metropolitana Logo"
        /></a>
      </div>
      <nav class="header-nav">
        <a href="/iniciar-sesion">Iniciar Sesión</a>
        <a href="/registro-paciente">Registro</a>
      </nav>
    </header>

    <div>{% block content %}{% endblock %}</div>

    <footer>
      <div class="footer-main">
        <div class="logo-container">
          <img
            class="logo-img"
            src="{{url_for('static',filename='img/LogoPSDBlanco.png')}}"
            alt="CAAMINO Salud Metropolitana Logo"
          />
        </div>
        <nav class="footer-nav">
          <a href="/iniciar-sesion">Iniciar Sesión</a>
          <a href="/registro-paciente">Registro</a>
        </nav>
      </div>

      <div class="footer-copy">
        <span>&copy;Mision Tic 2022</span>
      </div>
    </footer>
  </body>
</html>
