<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Raleway:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <!--STYLES-->
    <!--link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}" /-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/paciente-styles.css')}}" />
    <title>{% block title %}{% endblock %} | Paciente</title>
  </head>
  <body>
    <header>
      <div class="logo-container logo-container-header">
        <a href="/paciente/{{id}}"
          ><img
            class="logo-img"
            src="{{url_for('static',filename='img/LogoPSD.png')}}"
            alt="CAAMINO Salud Metropolitana Logo"
        /></a>
      </div>

      <div class="col-header">
        <div class="paciente-info">
          <img src="{{url_for('static',filename='img/user.svg')}}" alt="" class="paciente-img" />
          <span class="paciente-nombre"
            >{{ session.nombre_usuario }} {{ session.apellido_usuario }}</span
          >
        </div>

        <nav class="header-nav">
          <a href="/logout">Cerrar Sesión</a>
        </nav>
      </div>
    </header>
    {% block header %}{% endblock %}

    <div class="img-content">
      <img src="{{url_for('static',filename='img/pacientes-img.png')}}" alt="" />
    </div>

    <div class="container">
      <div class="citas-header">
        <div class="citas-header-col">
          <a href="/paciente/{{id}}" class="btn-citas-header">Nueva cita</a>
        </div>
        <div class="citas-header-col">
          <span class="citas-paciente-info paciente-nombre"
            >{{ session.nombre_usuario }} {{ session.apellido_usuario }}</span
          >
          <span class="citas-paciente-info paciente-documento">{{id}}</span>
        </div>
        <div class="citas-header-col">
          <a href="/paciente/mis-citas/{{id}}" class="btn-citas-header">Mis citas</a>
        </div>
      </div>

      <main>{%block content%}{%endblock%}</main>
    </div>

    <footer>
      <div class="footer-main">
        <div class="logo-container">
          <img
            class="logo-img"
            src="{{url_for('static',filename='img/LogoPSDBlanco.png')}}"
            alt="CAAMINO Salud Metropolitana Logo"
          />
        </div>
        <nav class="footer-nav">
          <a href="/logout">CerrarSesión</a>
        </nav>
      </div>

      <div class="footer-copy">
        <span>&copy;Mision Tic 2022</span>
      </div>
    </footer>

    {%block scripts%}{%endblock%}
  </body>
</html>
