{% extends 'base/layout-paciente.html' %}

<!---->
{% block title %}Citas canceladas-finalizadas{% endblock %}

<!---->
{% block content%}

<div class="miscitas-header">
  <a href="/paciente/mis-citas/citas-pendientes/{{id}}" class="btn-miscitas">Citas pendientes</a>
  <a href="/paciente/mis-citas/citas-canceladas-finalizadas/{{id}}" class="btn-miscitas"
    >Citas canceladas / Finalizadas</a
  >
</div>

<section class="citas-listado">
  {%for c in citas%}
  <article class="cita">
    <div class="cita-informacion">
      <span class="cita-estado">
        {%if c['estado'] == 'P'%} Pendiente {%endif%} {%if c['estado'] == 'F'%} Finalizada {%endif%}
        {%if c['estado'] == 'C'%} Cancelada {%endif%}
      </span>
      {%if c['estado'] == 'F'%} <div class="cita-hora-fecha cita-estado-finalizada"> {%endif%}
      {%if c['estado'] == 'C'%} <div class="cita-hora-fecha cita-estado-cancelada"> {%endif%}
        <span class="cita-hora">Turno: {{c['turno']}}</span>
        <span class="cita-fecha">{{c['fecha']}}</span>
      </div>
      <div class="cita-info-medico">
        <span class="cita-especialidad">{{c['nombreEspecialidad']}}</span>
        <span class="cita-medico">{{c['nombreMedico']}} {{c['apellidoMedico']}}</span>
      </div>
    </div>
    {%if c['estado'] == 'F'%}
    <div class="btns-cita">
      {% if not c['calificacion'] %}
        <button class="btn-cita btn-cita-calificar" data-idcita = "{{c['idCita']}}">Calificar cita </button>
      {%else%}
        <span>Calificacion: {{c['calificacion']}}</span>
      {% endif %}
      <a href="/paciente/obtener-comentario/{{c['idCita']}}" class="btn-cita btn-cita-comentario">Ver comentarios</a>
    </div>
    {%endif%}
  </article>

  {%endfor%}
</section>

<div class="container-modal container-modal-comentario-cita">
  <div class="modal modal-comentario-cita">
    <button class="btn-cerrar btn-cerrar-comentario">❌</button>
    <div class="mensaje-modal mensaje-modal-comentario"></div>
  </div>
</div>

<div class="container-modal container-modal-calificar-cita">
  <div class="modal modal-calificar-cita">
    <button class="btn-cerrar btn-cerrar-calificar">❌</button>
    <div class="mensaje-modal mensaje-modal-calificar">
      <h3>Califica la atención recibida en la cita</h3>
      <p>Donde 1 es para la puntuación mas baja y 5 la puntuación mas alta</p>
      
      <div class="range-container">
        <div class="calificacion-value">
          <span>⭐⭐⭐</span>
        </div>
        <span>1</span>
        <input type="range" name="calificacion-range" id="calificacion-range" min="1" max="5" value="3" step="1">
        <span>5</span>
      </div>
      <input type="button" value="Enviar" class="btn-cita btn-cita-calificar-enviar" data-idcita data-calificacion>
    </div>
  </div>
</div>


<div class="container-modal container-modal-calificacion-exito-cita">
  <div class="modal modal-calificacion-exito-cita">
    <button class="btn-cerrar btn-cerrar-calificacion-exito">❌</button>
    <div class="mensaje-modal mensaje-modal-calificacion-exito"></div>
  </div>
</div>

{%endblock%}

{%block scripts%}
<script src="{{url_for('static',filename='js/paciente/citas-finalizadas.js')}}"></script>{%endblock%}