{% extends 'base/layout-paciente.html' %}

<!---->
{% block title %}Citas pendientes{% endblock %}

<!---->
{% block content%}

<div class="miscitas-header">
  <a href="/paciente/mis-citas/citas-pendientes/{{id}}" class="btn-miscitas">Citas pendientes</a>
  <a href="/paciente/mis-citas/citas-canceladas-finalizadas/{{id}}" class="btn-miscitas"
    >Citas canceladas / Finalizadas</a
  >
</div>

<section class="citas-listado">
  {%for c in citas%}
  <article class="cita">
    <div class="cita-informacion">
      <span class="cita-estado">
        {%if c['estado'] == 'P'%} Pendiente {%endif%} 
        {%if c['estado'] == 'F'%} Finalizada {%endif%}
        {%if c['estado'] == 'C'%} Cancelada {%endif%}
      </span>
      <div class="cita-hora-fecha cita-estado-pendiente">
        <span class="cita-hora">Turno: {{c['turno']}}</span>
        <span class="cita-fecha">{{c['fecha']}}</span>
      </div>
      <div class="cita-info-medico">
        <span class="cita-especialidad">{{c['nombreEspecialidad']}}</span>
        <span class="cita-medico">{{c['nombreMedico']}} {{c['apellidoMedico']}}</span>
      </div>
    </div>
    <div class="btns-cita">
      <!--a href="/paciente/editar-cita/{{id}}/{{c.idCita}}"><button class="btn-cita btn-editar-cita">Editar cita</button></a-->
      <button
        class="btn-cita btn-cancelar-cita"
        data-idMedico="{{c['idMedico']}}"
        data-fecha="{{c['fecha']}}"
        data-id="{{id}}"
      >
        Cancelar Cita
      </button>
    </div>
  </article>
  {%endfor%}
</section>

<div class="container-modal-cancelar-cita">
  <div class="modal-cancelar-cita modal-cita">
    <div class="mensaje-cancelar-cita mensaje-modal">¿DESEA CANCELAR LA CITA?</div>
    <div>
      <button class="btn-cancelar-cita-aceptar">Aceptar</button>
      <button class="btn-cancelar-cita-cancelar">Cancelar</button>
    </div>
  </div>
</div>

{%endblock%}
<!---->
{%block scripts%}
<script src="{{url_for('static',filename='js/paciente/cancelar-editar-cita.js')}}"></script>
{%endblock%}
