{% extends 'base/layout-paciente.html' %}

<!---->
{% block title %}Editar cita{% endblock %}

<!---->
{% block content%}
<form method="POST" id="editarCitaForm" class="form-citas">
  {{ frm.hidden_tag() }}
  <div>
    <div class="input-container">
      {{ frm.paciente_id.label }}
      {{ frm.paciente_id }}
      {% for error in frm.paciente_id.errors %}
        <span style="color: red;">
          {{ error }}
        </span>
      {% endfor %}
    </div>

    <div class="input-container">
      {{ frm.fecha_cita.label }}
      {{ frm.fecha_cita }}
      {% for error in frm.fecha_cita.errors %}
        <span style="color: red;">
          {{ error }}
        </span>
      {% endfor %}
    </div>

    <div class="input-container">
      {{ frm.especialidad_id_select.label }}
      {{ frm.especialidad_id_select }}
      {% for error in frm.especialidad_id_select.errors %}
        <span style="color: red;">
          {{ error }}
        </span>
      {% endfor %}
    </div>

    <div class="input-container">
      {{ frm.medico_id_select.label }}
      {{ frm.medico_id_select }}
      {% for error in frm.medico_id_select.errors %}
        <span style="color: red;">
          {{ error }}
        </span>
      {% endfor %}
    </div>

    
    
    <div class="btn-container">
      {{ frm.btnEditar }}
      {{ frm.btnCancelar }}
    </div>
  </div>
</form>

{%endblock%}