{% extends 'base/layout-paciente.html' %}

<!---->
{% block title %}Mis Citas{% endblock %}

<!---->
{% block content%}

<div class="miscitas-header">
  <a href="/paciente/mis-citas/citas-pendientes/{{id}}" class="btn-miscitas">Citas pendientes</a>
  <a href="/paciente/mis-citas/citas-canceladas-finalizadas/{{id}}" class="btn-miscitas"
    >Citas canceladas / Finalizadas</a
  >
</div>

{%endblock%}
