{% extends 'base/layout-paciente.html' %}

<!---->
{% block title %}Nueva cita{% endblock %}

<!---->
{% block content%}
{% for msg in get_flashed_messages() %}
  <div class="mensaje-flash">
      {{ msg }}
  </div>
{% endfor %}
<form method="post" id="nuevaCitaForm" class="form-citas">
  <div>
    <div class="input-container">
      <label for="id_paciente">Documento: </label>
      <input type="text" id="id_paciente" name="id_paciente" value="{{id}}" required readonly/>
    </div>
    <div class="input-container">
      <label for="fecha_cita">Fecha cita: </label>
      <input type="date" name="fecha_cita" id="fecha_cita" required />
    </div>
    <div class="input-container">
      <label for="ciudad">Ciudad: </label>
      <input type="text" name="ciudad" id="ciudad" value="Barranquilla" readonly/>
    </div>
    <div class="input-container">
      <label for="especialidad_cita">Especialidad: </label>
      <input type="text" id="especialidad_cita" name="especialidad_cita" value="{{especialidad}}" readonly/>
    </div>
    <div class="input-container">
      <label for="medico_cita">Médico: </label>
      <select name="medico_cita" id="medico_cita">
        <option value="">-Seleccione-</option>
        {% for m in medicos%}
        <option value="{{m['idMedico']}}">{{m['nombreUsuario']}} {{m['apellidoUsuario']}}</option>
        {%endfor%}
      </select>
    </div>
    <div class="btn-container">
      <input type="submit" value="Crear Cita" id="crear_cita" />
    </div>
  </div>
</form>

<div class="modal-container">
  <div class="modal-cita-nueva">
    <span class="modal-btnCerrar">❌</span>
    <p class="modal-mensaje"></p>
  </div>
</div>

<div class="form-modal-container">
  <div class="modal-confirmar-cita">
    <div class="modal-confirmar-cita-mensaje">
      <form action="" method="POST" id="form_conf_cita">
        <h3>Cita Disponible</h3>
        {{ conf_form.csrf_token }}
        <div class="input-container">
          {{conf_form.confirmar_id_paciente.label}}{{conf_form.confirmar_id_paciente(value=id)}}
        </div>
        <div class="input-container">
          {{conf_form.confirmar_fecha_cita.label}}{{conf_form.confirmar_fecha_cita}}
        </div>
        <div class="input-container">
          {{conf_form.confirmar_ciudad.label}}{{conf_form.confirmar_ciudad}}
        </div>
        <div class="input-container">
          {{conf_form.confirmar_especialidad_cita.label}}{{conf_form.confirmar_especialidad_cita}}
        </div>
        <div class="input-container">
          {{conf_form.confirmar_medico_cita.label}}{{conf_form.confirmar_medico_cita}}
        </div>
        <div class="input-container">
          {{conf_form.confirmar_turno_cita.label}}{{conf_form.confirmar_turno_cita}}
        </div>
        <div class="btn-container">
          {{conf_form.confirmar_submit_cita()}}
          <input type="button" class="btn-cancelar" value="Cancelar" />
        </div>
      </form>
    </div>
  </div>
</div>

{%endblock%} {%block scripts%}
<script src="{{url_for('static',filename='js/nuevacita.js')}}"></script>
{%endblock%}
