{% extends 'base/layout-paciente.html' %}

<!---->
{% block title %}Inicio{% endblock %}

<!---->
{% block content%}
<div class="form-citas">
  <h3>Selecciona la especialidad</h3>
  <div class="btn-container">
    <a href="/paciente/nueva-cita/1/{{id}}">Medicina general</a>
  </div>

  <div class="btn-container">
    <a href="/paciente/nueva-cita/2/{{id}}">Odontología</a>
  </div>

  <div class="btn-container">
    <a href="/paciente/nueva-cita/3/{{id}}">Oftalmología</a>
  </div>
</div>
{% endblock %}
