:root {
  --boxShadowColor: #ccc;
  --menuColor: #ec1d25;
  --menuColorHover: #42b65b;
  --footerColor: #8b8b8b;
  --boderColorForm: #ddd;
  --headercitas: #ccc;
  --btnCitas: #42b65b;
  --btnCitasHover: #208836e0;
  --btnForms: #008945;
  --btnFormsHover: #00894491;
  --citaPendienteColor: #fecf01;
  --citaCanceladaColor: #ec1d25;
  --citaFinalizadaColor: #42b65b;
  --btncitaColor: #aaa;
  --btncitaHover: #888;
}
html {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth; /*hace que el scroll sea smooth*/
  font-family: 'Raleway', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}
/*-----------------HEADER-----------------*/
header {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  box-shadow: 5px 0 7px var(--boxShadowColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  width: 30%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo-img {
  height: 90px;
  width: auto;
}

.col-header {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.admin-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-img {
  width: 50px;
  height: 50px;
  margin: 0 1rem;
}
/*-----------------NAV-----------------*/
nav a {
  cursor: pointer;
  text-decoration: none;
}
/*-----------------HEADER NAV-----------------*/
.header-nav {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-nav a {
  position: relative;
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--menuColor);
  transition: color 0.3s ease-in-out;
}
.header-nav a::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 5px;
  border-radius: 100%;
  bottom: -10px;
  left: 0;
  border-radius: 3px;
  background-color: #fecf01;
  transition: width 0.5s ease-in-out;
}
.header-nav a:hover {
  color: var(--menuColorHover);
}
.header-nav a:hover::after {
  width: 100%;
}
/*--------------------------PAGINA INICIAL-------------------------------*/
.cards-container {
  margin-top: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card {
  width: 20%;
  height: auto;
  padding: 1rem;
  box-shadow: 1px 1px 10px #ddd;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s ease-in-out transform, 0.3s ease-in-out box-shadow;
}
.card:hover {
  transform: translateY(-10px) scale(1.01);
  box-shadow: 1px 1px 15px #bbb;
}
/*-----------------MAIN-----------------*/
main {
  margin: 0 auto;
  padding: 1rem;
  margin-top: calc(100px + 1rem);
  width: 95%;
  max-width: 1400px;
}

/*-----------------TABLA USUARIOS-----------------*/
.tabla-container {
  position: relative;
  width: 100%;
  margin: 2rem auto;
}
.tabla-container h2 {
  text-align: center;
}
.informacion-usuario-mensaje {
  text-align: center;
  color: #ec1d25;
  margin: 2rem auto;
}
.tabla-informacion-usuarios {
  width: 100%;
  text-align: center;
}
.tabla-informacion-usuarios thead th,
tr,
td {
  width: 10%;
  box-sizing: border-box;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.tabla-informacion-usuarios thead th {
  background-color: #fed00169;
}

.tbody-usuarios tr {
  color: #fff;
  font-weight: 500;
}
.tbody-usuarios tr:nth-child(odd) {
  background-color: #aaa;
}

.tbody-usuarios tr:nth-child(even) {
  background-color: #888;
}
/*-----------------Loader-----------------*/
.loader {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 30vh;
  margin: 0 auto;
  background-color: rgba(136, 136, 136, 0.527);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}
.loader.active {
  visibility: visible;
  opacity: 1;
}

/*-----------------MODALES-----------------*/
.container-modal {
  position: fixed;
  z-index: 2000;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  width: 0%;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.modal {
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  min-width: 30%;
  min-height: 30vh;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 5px;
}
.modal h2 {
  text-align: center;
}
.container-ver-paciente.active,
.container-modal-editar.active,
.container-modal-confirmar-editar.active,
.container-modal-confirmar-eliminar.active,
.container-ver-medico.active,
.container-modal-crear-medico.active,
.container-modal-historial-paciente.active {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
}

.btn-cerrar {
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 0.5rem;
  border-radius: 100%;
  border: 2px solid #000;
  background-color: #8b8b8b;
}
.btn-cerrar:hover {
  background-color: #c2c2c2;
}
.mensaje-modal-ver {
  color: rgb(48, 48, 48);
  font-weight: 400;
}
.mensaje-modal-confirmar {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-historial-paciente {
  position: relative;
  width: 80%;
  max-height: 90vh;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 5px;
}

/*--------------------------BUSQUEDA---------------------------*/
.busqueda-container {
  box-sizing: border-box;
  background-color: #eee;
  width: 100%;
  height: 40vh;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 1px 1px 10px #bbb;
}

.busqueda-col h2 {
  text-align: left;
  font-size: 2rem;
  margin-top: 1rem;
  color: #333;
}
.busqueda-col form {
  box-sizing: border-box;
  width: 80%;
  padding: 1rem;
  padding-top: 0;
}
.busqueda-link {
  margin: 1rem;
}
.link-vista {
  color: #fff;
  background-color: var(--btnCitas);
  padding: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}
.link-vista:hover {
  background-color: var(--btnCitasHover);
}
/*----------------------FORMULARUIO CREAR PACIENTE---------------------------*/
.crear-form {
  max-width: 50%;
  margin: 0 auto;
}
.crear-usuario-title {
  text-align: center;
}

/*----------------------ESTILOS GENERALES INPUTS----------------------------*/
.input-container {
  box-sizing: border-box;
  width: 100%;
  padding: 0.2rem;
}
.input-container label {
  color: #555;
  font-size: 0.8rem;
}
.input-container input,
select {
  background-color: #fff;
  border: 1px solid #aaa;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
}
.input-container input[type='button'],
.input-container input[type='submit'] {
  margin: 0.5rem;
  background-color: var(--btnCitas);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}
.input-container input[type='button']:hover,
.input-container input[type='submit']:hover {
  background-color: var(--btnCitasHover);
}

/*-----------------------------------ESTILOS HISTORIAL CITAS-----------------------------------------*/
.modal-historial-paciente {
  overflow: hidden;
  overflow-y: auto;
}
.citas-historial {
  width: 95%;
  margin: 0 auto;
}
.citas-historial-titulo {
  text-align: center;
  color: var(--btnCitas);
}
.cita-historial {
  box-sizing: border-box;
  width: 90%;
  padding: 1rem;
  margin: 1rem auto;
  box-shadow: 1px 1px 5px var(--boxShadowColor);
}
.cita-historial-cabecera {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-evenly;
  font-weight: 500;
}
.col-historial {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.col-historial span {
  color: #333;
}
.cita-comentario-label {
  font-weight: 700;
}
.cita-comentario-container {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid var(--boderColorForm);
  border-radius: 5px;
}

/*-----------------------------------ESTILOS INFORMACION-----------------------------------------*/
.cards-informacion {
  width: 90%;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.btn-admin-info {
  cursor: pointer;
  box-sizing: border-box;
  max-width: 250px;
  height: 150px;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  outline: 5px solid var(--btnCitas);
  color: var(--btnCitas);
  transition: 0.2s ease-in-out outline, 0.2s, 0.2s ease-in-out color;
}
.btn-admin-info:hover {
  outline: 10px solid var(--btnCitas);
  color: var(--btnCitasHover);
}
.container-modal-admin-info {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out visibility, 0.3s ease-in-out opacity;
}

.container-modal-admin-info.active {
  visibility: visible;
  opacity: 1;
}
.modal-admin-info {
  width: 50vw;
  height: 80vh;
}
.mensaje-modal-admin-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.img-modal-info {
  width: 90%;
}
.mensaje-modal-admin-info h4 {
  text-align: center;
}

.container-loader-admin-info {
  position: fixed;
  z-index: 2000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(78, 78, 78, 0.466);
  transition: 0.3s ease-in-out visibility, 0.3s ease-in-out opacity;
}
.container-loader-admin-info.active {
  visibility: visible;
  opacity: 1;
}
