:root {
  --boxShadowColor: #ccc;
  --menuColor: #ec1d25;
  --menuColorHover: #42b65b;
  --footerColor: #8b8b8b;
  --boderColorForm: #ddd;
  --headercitas: #ccc;
  --btnCitas: #42b65b;
  --btnCitasHover: #208836e0;
  --btnForms: #008945;
  --btnFormsHover: #00894491;
  --citaPendienteColor: #fecf01;
  --citaCanceladaColor: #ec1d25;
  --citaFinalizadaColor: #42b65b;
  --btncitaColor: #aaa;
  --btncitaHover: #888;
}
html {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth; /*hace que el scroll sea smooth*/
  font-family: 'Raleway', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}
header {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  box-shadow: 5px 0 7px var(--boxShadowColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  width: 30%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo-img {
  height: 90px;
  width: auto;
}

.col-header {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.paciente-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paciente-img {
  width: 50px;
  height: 50px;
  margin: 0 1rem;
}
/*-----------------NAV-----------------*/
nav a {
  cursor: pointer;
  text-decoration: none;
}
/*-----------------HEADER NAV-----------------*/
.header-nav {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-nav a {
  position: relative;
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--menuColor);
  transition: color 0.3s ease-in-out;
}
.header-nav a::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 5px;
  border-radius: 100%;
  bottom: -10px;
  left: 0;
  border-radius: 3px;
  background-color: #fecf01;
  transition: width 0.5s ease-in-out;
}
.header-nav a:hover {
  color: var(--menuColorHover);
}
.header-nav a:hover::after {
  width: 100%;
}

/*-----------------FOOTER-----------------*/
footer {
  background-color: var(--footerColor);
  padding: 1rem;
  margin-top: 5rem;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copy {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}
.footer-nav a {
  display: block;
  margin: 0.5rem 0;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
}
.footer-nav a:hover {
  text-decoration: underline;
}

/*-----------------MAIN IMG-----------------*/
.img-content {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: calc(100px + 2rem);
  margin-bottom: 3rem;
}
.img-content img {
  width: 100%;
}
/*-----------------Container-----------------*/
.container {
  position: relative;
  box-sizing: border-box;
  width: 95%;
  max-width: 1400px;
  height: auto;
  min-height: 40vh;
  margin: 0 auto;
  margin-top: 3rem;
  box-shadow: 0px 0px 10px 3px var(--boxShadowColor);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*-----------------ASIDE MENU-----------------*/
.aside-menu {
  box-sizing: border-box;
  padding: 1rem;
  width: 20%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.item-aside-menu {
  position: relative;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  text-decoration: none;
  font-weight: 700;
  color: #888;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.item-aside-menu:hover {
  transform: scale(1.2);
  color: #222;
}

/*-----------------MAIN-----------------*/
main {
  padding: 0 1rem;
  width: 75%;
  border-left: 1px solid #eee;
}
/*-------------------Perfil-------------------------*/
.perfil-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: capitalize;
}
.perfil-img-container {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  padding: 1rem;
  margin: 1rem;
}
/*-------------------AGENDA-------------------------*/
.tabla-agenda,
.tabla-historial {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.tabla-agenda thead,
.tabla-historial thead {
  background-color: var(--btnCitas);
  color: #fff;
}
.tabla-agenda thead th,
.tabla-historial thead th {
  padding: 1rem;
}
.tabla-agenda-body tr:nth-child(odd) {
  background-color: rgb(189, 189, 189);
}
.tabla-agenda-body tr:nth-child(even) {
  background-color: rgb(136, 136, 136);
}
.paciente-agenda td {
  padding: 1rem;
  font-weight: 500;
}
.btn-atender {
  background-color: var(--btnCitas);
  padding: 0.5rem;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}
.btn-atender:hover {
  background-color: var(--btnCitasHover);
}

/*--------------------Atener Paciente-------------*/
.form-atender-paciente {
  width: 100%;
  margin: 1rem auto;
}
.form-atender-paciente textarea {
  width: 100%;
  min-height: 100px;
  resize: none;
}
.container-btn-terminar-cita {
  width: 100%;
  margin: 0.5rem auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn-terminar-cita {
  width: 25%;
  cursor: pointer;
  text-align: center;
  padding: 1rem;
  background-color: var(--btnCitas);
  border: none;
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.btn-terminar-cita:hover {
  background-color: var(--btnCitasHover);
  transform: scale(1.05);
}

/*-----------------MODAL Ver Cita Historial-----------------*/
.tabla-historial-body tr {
  color: #fff;
  font-weight: 500;
}
.tabla-historial-body tr:nth-child(odd) {
  background-color: #aaa;
}
.tabla-historial-cita td {
  padding: 1rem;
}
.container-ver-historia-cita {
  position: fixed;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  z-index: 2000;
  width: 0;
  height: 0;
  background-color: rgba(114, 114, 114, 0.438);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}
.modal-ver-historia-cita {
  position: relative;
  min-width: 50%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
}
.modal-btnCerrar {
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
  border: 2px solid #000;
  background-color: #ddd;
  padding: 0.3rem;
  border-radius: 50%;
}
.modal-mensaje {
  text-align: center;
}

.container-ver-historia-cita.active {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
}

.tabla-historial-body tr:nth-child(odd) {
  background-color: rgb(167, 167, 167);
}
.tabla-historial tr:nth-child(even) {
  background-color: rgb(134, 134, 134);
}
