/*-----------------HEADER-----------------*/
:root {
  --boxShadowColor: #ccc;
  --menuColor: #ec1d25;
  --menuColorHover: #42b65b;
  --footerColor: #8b8b8b;
  --boderColorForm: #ddd;
  --headercitas: #ccc;
  --btnCitas: #42b65b;
  --btnCitasHover: #208836e0;
  --btnForms: #008945;
  --btnFormsHover: #00894491;
  --citaPendienteColor: #fecf01;
  --citaCanceladaColor: #ec1d25;
  --citaFinalizadaColor: #42b65b;
  --btncitaColor: #aaa;
  --btncitaHover: #888;
  --boxShadowMensajeFlash: rgb(216, 216, 216);
  --boxBackgroundMensajeFlash: #fffeeba1;
}
html {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth; /*hace que el scroll sea smooth*/
  font-family: 'Raleway', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}
header {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  box-shadow: 5px 0 7px var(--boxShadowColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  width: 30%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo-img {
  height: 90px;
  width: auto;
}

.col-header {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.paciente-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paciente-img {
  width: 50px;
  height: 50px;
  margin: 0 1rem;
}
/*-----------------NAV-----------------*/
nav a {
  cursor: pointer;
  text-decoration: none;
}
/*-----------------HEADER NAV-----------------*/
.header-nav {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-nav a {
  position: relative;
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--menuColor);
  transition: color 0.3s ease-in-out;
}
.header-nav a::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 5px;
  border-radius: 100%;
  bottom: -10px;
  left: 0;
  border-radius: 3px;
  background-color: #fecf01;
  transition: width 0.5s ease-in-out;
}
.header-nav a:hover {
  color: var(--menuColorHover);
}
.header-nav a:hover::after {
  width: 100%;
}

/*-----------------FOOTER-----------------*/
footer {
  background-color: var(--footerColor);
  padding: 1rem;
  margin-top: 5rem;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copy {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}
.footer-nav a {
  display: block;
  margin: 0.5rem 0;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
}
.footer-nav a:hover {
  text-decoration: underline;
}

/*-----------------MAIN IMG-----------------*/
.img-content {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: calc(100px + 2rem);
  margin-bottom: 3rem;
}
.img-content img {
  width: 100%;
}

/*-----------------Container-----------------*/
.container {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 3rem;
  box-shadow: 0px 0px 10px 3px var(--boxShadowColor);
}

.citas-header {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 80px;
  background-color: var(--headercitas);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn-citas-header {
  display: block;
  width: 120px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--btnCitas);
  transition: background-color 0.3s ease-in-out;
}
.btn-citas-header:hover {
  background-color: var(--btnCitasHover);
}

.citas-paciente-info {
  margin: 0 1rem;
  font-weight: 700;
}

/*-----------------MAIN-----------------*/
main {
  margin-top: 0;
  padding: 1rem;
  width: 100%;
  background-color: #aaa;
  height: auto;
  min-height: 80vh;
  box-sizing: border-box;
  overflow-y: auto;
}

/*-----------------PACIENTES INICIO-----------------*/
/*-----------------Estilos campos inputs form-----------------*/
.input-container {
  margin: 1rem auto;
}
.input-container input {
  display: block;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px solid var(--boderColorForm);
}
.input-container label {
  font-size: 1.1rem;
  color: #aaa;
}

.input-container select {
  display: block;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px solid var(--boderColorForm);
}
/*-----------------Form citas-----------------*/
.form-citas {
  position: relative;
  top: 3rem;
  box-sizing: border-box;
  max-width: 300px;
  background-color: #fff;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;
}
.form-citas h3 {
  margin-top: 0;
  text-align: center;
}
.btn-container {
  box-sizing: border-box;
  width: 90%;
  padding: 1rem;
  margin: 1rem auto;
  text-align: center;
}

.btn-container input {
  margin: 5px;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  width: 70%;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--menuColorHover);
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.btn-container input.btn-cancelar {
  background-color: red;
}

.btn-container input:hover {
  background-color: #42b65bab;
}

.btn-container a {
  cursor: pointer;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  padding: 1.4rem;
  width: 175px;
  border-radius: 10px;
  background-color: var(--btnForms);
  color: #fff;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;
}

.btn-container a:hover {
  background-color: var(--btnFormsHover);
}

/*-----------------PACIENTES MIS CITAS-----------------*/
.miscitas-header {
  box-sizing: border-box;
  width: 100%;
  background-color: #bbb;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.btn-miscitas {
  margin-right: 1rem;
  padding: 1rem;
  text-decoration: none;
  background-color: var(--btnForms);
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
.btn-miscitas:hover {
  background-color: var(--btnFormsHover);
}

/*-----------------Citas pendientes-----------------*/
.citas-listado {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  margin-top: 2rem;
  padding: 1rem;
}
.cita {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding: 1rem;
  margin: 1rem auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #555;
}
.cita.informacion {
  box-sizing: border-box;
  width: 50%;
}
.cita-hora-fecha {
  box-sizing: border-box;
  padding: 1rem;
  background-color: #ccc;
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.cita-info-medico {
  position: absolute;
  top: 1rem;
  left: calc(1rem + 150px + 1rem);
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100px;
  font-size: 1.5rem;
  text-align: left;
}
.cita-info-medico span {
  margin-top: 1rem;
}

.cita-estado-pendiente {
  background-color: var(--citaPendienteColor);
}
.cita-estado-cancelada {
  background-color: var(--citaCanceladaColor);
}
.cita-estado-finalizada {
  background-color: var(--citaFinalizadaColor);
}

.btns-cita {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn-cita {
  cursor: pointer;
  border: none;
  cursor: pointer;
  width: 150px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
  padding: 1rem;
  margin: 0 1rem;
  background-color: var(--btncitaColor);
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}
.btn-cita:hover {
  background-color: var(--btncitaHover);
}

/*-----------------MODAL NUEVA CITA-----------------*/
.container-modal-cancelar-cita,
.modal-container,
.form-modal-container,
.container-modal {
  position: fixed;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  z-index: 2000;
  width: 0;
  height: 0;
  background-color: rgba(114, 114, 114, 0.438);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}
.modal-cancelar-cita,
.modal-cita-nueva,
.modal-confirmar-cita,
.modal {
  position: relative;
  min-width: 30%;
  max-width: 60%;
  max-height: 75%;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
}

.modal-confirmar-cita {
  overflow-y: auto;
}

.modal-btnCerrar,
.btn-cerrar {
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
  border: 2px solid #000;
  background-color: #ddd;
  padding: 0.3rem;
  border-radius: 50%;
}
.modal-mensaje,
.modal-confirmar-cita-mensaje,
.mensaje-modal {
  text-align: center;
}

.container-modal-cancelar-cita.active,
.modal-container.active,
.form-modal-container.active,
.container-modal-comentario-cita.active,
.container-modal-calificar-cita.active,
.container-modal-calificacion-exito-cita.active {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
}

/**************************MODAL Calificar***********************/

.range-container {
  box-sizing: border-box;
  padding: 1rem;
  margin: 2rem auto;
  width: 100%;
}
.calificacion-value {
  position: relative;
  width: 50%;
  margin: 0 auto;
}
.calificacion-value span {
  box-shadow: 1px 1px 5px var(--boxShadowColor);
  padding: 0.2rem;
  border-radius: 5px;
  position: absolute;
  transform: translateX(-70%) scale(0);
  font-weight: 500;
  top: -40px;
  text-align: center;
  z-index: 2;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}
.calificacion-value span.show {
  transform: translateX(-70%) scale(1);
}
.range-container input {
  -webkit-appearance: none;
  width: 200px;
  height: 3px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 2222;
}
.range-container input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #664aff;
  border: 1px solid #664aff;
  cursor: pointer;
}
.range-container input::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #664aff;
  border: 1px solid #664aff;
  cursor: pointer;
}
.range-container input::-moz-range-progress {
  background: #664aff; /*this progress background is only shown on Firefox*/
}

.mensaje-flash {
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 10px;
  max-width: 500px;
  text-align: center;
  box-shadow: 0px 0px 20px var(--boxShadowMensajeFlash);
  background-color: var(--boxBackgroundMensajeFlash);
}