:root {
  --boxShadowColor: #ccc;
  --menuColor: #ec1d25;
  --menuColorHover: #42b65b;
  --footerColor: #8b8b8b;
  --boderColorForm: #ddd;
  --boxShadowMensajeFlash: rgb(216, 216, 216);
  --boxBackgroundMensajeFlash: #fffeeba1;
}
html {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth; /*hace que el scroll sea smooth*/
  font-family: 'Raleway', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

/*-----------------HEADER-----------------*/
header {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  box-shadow: 5px 0 7px var(--boxShadowColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  width: 30%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo-img {
  height: 90px;
  width: auto;
}
/*-----------------NAV-----------------*/
nav a {
  cursor: pointer;
  text-decoration: none;
}
/*-----------------HEADER NAV-----------------*/
.header-nav {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-nav a {
  position: relative;
  display: block;
  margin-left: 1rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--menuColor);
  transition: color 0.3s ease-in-out;
}
.header-nav a::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 5px;
  border-radius: 100%;
  bottom: -10px;
  left: 0;
  border-radius: 3px;
  background-color: #fecf01;
  transition: width 0.5s ease-in-out;
}
.header-nav a:hover {
  color: var(--menuColorHover);
}
.header-nav a:hover::after {
  width: 100%;
}

/*-----------------FOOTER-----------------*/
footer {
  background-color: var(--footerColor);
  padding: 1rem;
  margin-top: 5rem;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copy {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}
.footer-nav a {
  display: block;
  margin: 0.5rem 0;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
}
.footer-nav a:hover {
  text-decoration: underline;
}

/*-----------------MAIN IMG-----------------*/
.img-content {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 600px;
  margin-top: 100px;
  background-color: #ddd;
  background-image: url('../img/fondoinicio.png');
  background-size: cover;
  background-attachment: fixed;
}
.text-img-content {
  color: #fff;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 3rem;
  text-shadow: 3px 3px 5px var(--boxShadowColor);
}

/*-----------------MAIN-----------------*/
.container {
  width: 90%;
  height: auto;
  margin: 130px auto;
}

.main-title {
  text-align: center;
  font-size: 3rem;
}
.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  box-sizing: border-box;
  padding: 1rem;
  box-shadow: 0px 5px 10px var(--boxShadowColor);
  width: 30%;
  border-radius: 10px;
}
.card-img {
  margin: 1rem auto;
}
.card-img img {
  display: block;
  width: 150px;
  margin: 0 auto;
}
.card h3,
.card p {
  text-align: center;
}
.card p {
  line-height: 1.5rem;
}

/*-----------------LOGIN FORM & REGISTRO FORM-----------------*/
.login-form,
.registro-form {
  box-sizing: border-box;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 4rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 20px var(--boxShadowColor);
}
.input-container {
  margin: 1rem auto;
}
.input-container input {
  display: block;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px solid var(--boderColorForm);
}
.input-container label {
  font-size: 1.1rem;
  color: #aaa;
}
.btn-container {
  width: 90%;
  margin: 1rem auto;
  text-align: center;
}
.btn-container input {
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  width: 70%;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--menuColorHover);
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}
.btn-container input:hover {
  background-color: #42b65bab;
}

.registro-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 800px;
}

.input-container select {
  display: block;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px solid var(--boderColorForm);
}

.mensaje-flash {
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 10px;
  max-width: 500px;
  text-align: center;
  box-shadow: 0px 0px 20px var(--boxShadowMensajeFlash);
  background-color: var(--boxBackgroundMensajeFlash);
}
.registro-false {
  background: #ec1d25;
  color: #fff;
  font-weight: 500;
}
.registro-true {
  background: #42b65b;
  color: #fff;
  font-weight: 500;
}
