<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Raleway:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <!--STYLES-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/admin-styles.css')}}" />
    <title>Inicio | Admin</title>
  </head>
  <body>
    <header>
      <div class="logo-container logo-container-header">
        <a href="/admin/{{id}}"
          ><img
            class="logo-img"
            src="{{url_for('static',filename='img/LogoPSD.png')}}"
            alt="CAAMINO Salud Metropolitana Logo"
        /></a>
      </div>

      <div class="col-header">
        <div class="admin-info">
          <img src="{{url_for('static',filename='img/user.svg')}}" alt="" class="admin-img" />
          <span class="admin-nombre">{{session['nombre_usuario']}} {{session['apellido_usuario']}}</span>
        </div>

        <nav class="header-nav">
          <a href="/logout">Cerrar Sesión</a>
        </nav>
      </div>
    </header>

    <div class="cards-container">
      <div class="card">
        <a href="/admin/{{id}}/pacientes"
          ><img
            src="{{url_for('static',filename='img/paciente-admin.svg')}}"
            alt="card-paciente"
            class="card-img"
        /></a>
        <h3>Pacientes</h3>
      </div>

      <div class="card">
        <a href="/admin/{{id}}/medicos"
          ><img
            src="{{url_for('static',filename='img/doctor-admin.svg')}}"
            alt="card-doctor"
            class="card-img"
        /></a>
        <h3>Medicos</h3>
      </div>

      <div class="card">
        <a href="/admin/{{id}}/informacion"
          ><img
            src="{{url_for('static',filename='img/stats-admin.svg')}}"
            alt="card-estadisticas"
            class="card-img"
        /></a>
        <h3>Informacion</h3>
      </div>
    </div>
  </body>
</html>
