{% extends 'base/admin-layout.html'%}
<!---->

{%block title%}Pacientes{%endblock%}
<!---->

{%block container%}

<div class="busqueda-container">
  <div class="busqueda-col">
    <h2>Busqueda Paciente</h2>
    <form method="POST" id="paciente-busqueda-form">
      {{ form_paciente.csrf_token }}
      <div class="input-container">
        {{form_paciente.buscar_paciente.label}} {{form_paciente.buscar_paciente}}
      </div>
      <div class="input-container">{{form_paciente.bucar_paciente_submit}}</div>
    </form>
  </div>

  <div class="busqueda-col busqueda-link">
    <a href="/admin/{{id}}/pacientes/crear" class="link-vista">Crear Paciente</a>
  </div>
</div>

<div class="tabla-container">
  <h2>Resultado busqueda</h2>
  <div class="informacion-usuario-encontrados"></div>
  <div class="loader">
    <img src="{{url_for('static',filename='img/three-dots.svg')}}" alt="loader" />
  </div>
  <table class="tabla-informacion-usuarios">
    <thead>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Correo</th>
      <th>Tipo Documento</th>
      <th>Documento</th>
      <th>Ver</th>
      <th>Editar</th>
      <th>Borrar</th>
      <th>Historial</th>
    </thead>
    <tbody class="tbody-usuarios"></tbody>
  </table>

  <template class="template-tabla">
    <tr>
      <td class="td-info-usuario td_nombres">Gabriel</td>
      <td class="td-info-usuario td_apellidos">Cervantes</td>
      <td class="td-info-usuario td_correo">Correo@correo.com</td>
      <td class="td-info-usuario td_tipo-documento">cedula</td>
      <td class="td-info-usuario td_documento">1111111</td>
      <td class="td-info-usuario td_btn">
        <button
          class="btn-ver"
          data-nombres=""
          data-apellidos=""
          data-tipodoc=""
          data-documento=""
          data-email=""
          data-genero=""
          data-estado=""
          data-tipousuario=""
        >
          👀 ver
        </button>
      </td>
      <td class="td-info-usuario td_btn">
        <button class="btn-editar" data-idpaciente>📝 Editar</button>
      </td>
      <td class="td-info-usuario td_btn">
        <button class="btn-estado" data-idpaciente datd-estado>❌ Borrar</button>
      </td>
      <td class="td-info-usuario td_btn">
        <button class="btn-historial" data-idpaciente>📚 Historial</button>
      </td>
    </tr>
  </template>
</div>

<div class="container-modal container-ver-paciente">
  <div class="modal modal-ver-paciente">
    <span class="btn-cerrar btn-cerrar-ver">❌</span>
    <h3>Información Paciente</h3>
    <div class="mensaje-modal mensaje-modal-ver"></div>
  </div>
</div>

<div class="container-modal container-modal-editar">
  <div class="modal modal-editar">
    <form action="" method="post" class="form-editar-paciente">
      <h2>Editar Paciente</h2>
      <input id="csrf_token" name="csrf_token" type="hidden" value="{{csrf_token()}}" />

      <div class="input-container">
        <label for="editar_tipo_documento">Tipo de documento:</label>
        <select name="editar_tipo_documento" id="editar_tipo_documento" required>
          <option value="">--Seleccionar--</option>
          <option value="cc">C.C</option>
          <option value="ti">T.I</option>
          <option value="ce">C.E</option>
        </select>
      </div>

      <div class="input-container">
        <label for="editar_documento">Documento:</label>
        <input type="number" name="editar_documento" id="editar_documento" required readonly />
      </div>

      <div class="input-container">
        <label for="editar_nombres">Nombres:</label>
        <input type="text" name="editar_nombres" id="editar_nombres" required />
      </div>

      <div class="input-container">
        <label for="editar_apellidos">Apellidos</label>
        <input type="text" name="editar_apellidos" id="editar_apellidos" required />
      </div>

      <div class="input-container">
        <label for="editar_genero">Genero:</label>
        <select name="editar_genero" id="editar_genero" required>
          <option value="">--Selecionar--</option>
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
        </select>
      </div>

      <div class="input-container">
        <label for="editar_email">Email:</label>
        <input type="email" name="editar_correo" id="editar_correo" required />
      </div>

      <div class="input-container">
        <label for="editar_rol">Rol:</label>
        <input type="text" name="editar_rol" id="editar_rol" required />
      </div>

      <div class="input-container">
        <input type="button" value="Editar" name="btn_editar_submit" class="btn_editar_submit" />
        <input
          type="button"
          value="Cancelar"
          name="btn_editar_cancelar"
          class="btn-editar-cancelar"
        />
      </div>
    </form>
  </div>
</div>

<div class="container-modal container-modal-confirmar-editar">
  <div class="modal modal-confirmar-editar">
    <span class="btn-cerrar btn-cerrar-confirmar">❌</span>
    <div class="mensaje-modal mensaje-modal-confirmar"></div>
  </div>
</div>

<div class="container-modal container-modal-confirmar-eliminar">
  <div class="modal modal-confirmar-eliminar">
    <div class="mensaje-modal mensaje-modal-confirmar-eliminar"></div>
    <div class="input-container">
      <input type="button" value="Aceptar" class="btn-eliminar-submit" data-idpaciente="" />
      <input type="button" value="Cancelar" class="btn-eliminar-cancelar" />
    </div>
  </div>
</div>

<div class="container-modal container-modal-historial-paciente">
  <div class="modal modal-historial-paciente">
    <span class="btn-cerrar btn-cerrar-historial-paciente">❌</span>
    <div class="mensaje-modal mensaje-modal-historial-paciente">
      <article class="citas-historial">
        <!-- <h3 class="citas-historial-titulo">Historial Citas del Paciente</h3> -->
      </article>
    </div>
  </div>
</div>

<template id="template-cita-historial">
  <section class="cita-historial">
    <div class="cita-historial-cabecera">
      <div class="col-historial">
        <span class="cita-id">Id Cita: 123</span>
        <span class="cita-fecha">Fecha: 12/12/12</span>
        <span class="cita-id-medico">Id Medico: 234</span>
        <span class="cita-nombre-medico">Nombre: Juan</span>
        <span class="cita-apellido-medico">Apellido: Perez</span>
      </div>
      <div class="col-historial">
        <span class="cita-id-paciente">Id Paciente: 123</span>
        <span class="cita-nombre-paciente">Nombre: Gabo</span>
        <span class="cita-apellido-paciente">Apellido: Cer</span>
      </div>
    </div>

    <div class="cita-comentario">
      <span class="cita-comentario-label">Comentarios:</span>
      <div class="cita-comentario-container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus fugiat voluptas minima
        ratione, sed sit quis quae! Perferendis ducimus omnis nobis ipsum sunt rem alias, excepturi
        quia suscipit provident reprehenderit?
      </div>
    </div>
  </section>
</template>

{%endblock%}

<!---->
{%block scripts%}
<script src="{{url_for('static',filename='js/adminjs/admin-pacientes.js')}}"></script>
{%endblock%}
