{% extends 'base/admin-layout.html'%}
<!---->

{%block title%}Medicos{%endblock%}
<!---->

{%block container%}

<div class="busqueda-container">
  <div class="busqueda-col">
    <h2>Búsqueda Médicos</h2>
    <form method="POST" id="medico-busqueda-form">
      {{ form_medico.csrf_token }}
      <div class="input-container">
        {{form_medico.buscar_medico.label}}{{form_medico.buscar_medico}}
      </div>
      <div class="input-container">{{form_medico.bucar_medico_submit}}</div>
    </form>
  </div>
  

  <div class="busqueda-col busqueda-link">
    <a href="/admin/{{id}}/medicos/crear" class="link-vista">Crear Medico</a>
  </div>
</div>

<div class="tabla-container">
  <h2>Resultado búsqueda</h2>
  <div class="informacion-usuario-encontrados"></div>
  <div class="loader">
    <img src="{{url_for('static',filename='img/three-dots.svg')}}" alt="loader" />
  </div>
  <table class="tabla-informacion-usuarios">
    <thead>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Correo</th>
      <th>Tipo Documento</th>
      <th>Documento</th>
      <th>Ver</th>
      <th>Editar</th>
      <th>Borrar</th>
    </thead>
    <tbody class="tbody-usuarios"></tbody>
  </table>

  <template class="template-tabla">
    <tr>
      <td class="td-info-usuario td_nombres">Gabriel</td>
      <td class="td-info-usuario td_apellidos">Cervantes</td>
      <td class="td-info-usuario td_correo">Correo@correo.com</td>
      <td class="td-info-usuario td_tipo-documento">cedula</td>
      <td class="td-info-usuario td_documento">1111111</td>
      <td class="td-info-usuario td_btn">
        <button
          class="btn-ver"
          data-nombres=""
          data-apellidos=""
          data-tipodoc=""
          data-documento=""
          data-email=""
          data-especialidad=""
          data-estado=""
          data-tipousuario=""
        >
          👀 ver
        </button>
      </td>
      <td class="td-info-usuario td_btn"><button class="btn-editar" data-idmedico>📝 editar</button></td>
      <td class="td-info-usuario td_btn"><button class="btn-estado" data-idmedico data-estado>❌ borrar</button></td>
    </tr>
  </template>
</div>

<!--Modal ver paciente-->
<div class="container-modal container-ver-medico">
  <div class="modal modal-ver-medico">
    <span class="btn-cerrar btn-cerrar-ver-medico">❌</span>
    <h2>Información Médico</h3>
    <div class=" mensaje-modal mensaje-modal-ver-medico"></div>
  </div>
</div>

<!--Modal Editar Paciente-->
<div class="container-modal container-modal-editar">
  <div class="modal modal-editar">
    <form action="" method="post" class="form-editar-medico">
      <h2>Editar Médico</h2>
      <input id="csrf_token" name="csrf_token" type="hidden" value="{{csrf_token()}}" />

      <div class="input-container">
        <label for="editar_tipo_documento">Tipo de documento:</label>
        <select name="editar_tipo_documento" id="editar_tipo_documento" required>
          <option value="">--Seleccionar--</option>
          <option value="cc">C.C</option>
          <option value="ti">T.I</option>
          <option value="ce">C.E</option>
        </select>
      </div>

      <div class="input-container">
        <label for="editar_documento">Documento:</label>
        <input type="number" name="editar_documento" id="editar_documento" required readonly>
      </div>

      <div class="input-container">
        <label for="editar_nombres">Nombres:</label>
        <input type="text" name="editar_nombres" id="editar_nombres" required>
      </div>

      <div class="input-container">
        <label for="editar_apellidos">Apellidos</label>
        <input type="text" name="editar_apellidos" id="editar_apellidos" required>
      </div>

      <div class="input-container">
        <label for="editar_especialidad">Especialidad:</label>
        <select name="editar_especialidad" id="editar_especialidad" required>

        </select>
      </div>

      <div class="input-container">
        <label for="editar_email">Email:</label>
        <input type="email" name="editar_correo" id="editar_correo" required>
      </div>

      <div class="input-container">
        <label for="editar_rol">Rol:</label>
        <input type="text" name="editar_rol" id="editar_rol" required>
      </div>

      <div class="input-container">
        <input type="button" value="Editar" name="btn_editar_submit" class="btn_editar_submit">
        <input type="button" value="Cancelar" name="btn_editar_cancelar" class="btn-editar-cancelar">
      </div>
    </form>
  </div>
</div>

<!--Modal Confirmar Edit-->
<div class="container-modal container-modal-confirmar-editar">
  <div class="modal modal-confirmar-editar">
    <span class="btn-cerrar btn-cerrar-confirmar">❌</span>
    <div class="mensaje-modal mensaje-modal-confirmar"></div>
  </div>
</div>

<!--Modal Eliminar Medico-->
<div class="container-modal container-modal-confirmar-eliminar">
  <div class="modal modal-confirmar-eliminar">
    <div class="mensaje-modal mensaje-modal-confirmar-eliminar"></div>
    <div class="input-container">
      <input type="button" value="Aceptar" class="btn-eliminar-submit" data-idmedico="">
      <input type="button" value="Cancelar" class="btn-eliminar-cancelar" >
    </div>
  </div>
</div>

{%endblock%}

<!---->
{%block scripts%}
<script src="{{url_for('static',filename='js/adminjs/admin-medicos.js')}}"></script>
{%endblock%}
