{% extends 'base/admin-layout.html'%}
<!---->

{%block title%}Informacion{%endblock%}
<!---->

{%block container%}

<section class="cards-informacion">
  <button class="btn-admin-info" data-route="/admin/estadistica1">
    Número de Citas de acuerdo al Estado
  </button>
  <button class="btn-admin-info" data-route="/admin/estadistica3">
    Nivel de Satisfacción de los Pacientes
  </button>
  <button class="btn-admin-info" data-route="/admin/estadistica4">
    Número de Pacientes por Especialidad
  </button>
  <button class="btn-admin-info" data-route="/admin/estadistica5">
    Número de Pacientes por Especialidad y Género
  </button>
</section>

<div class="container-modal container-modal-admin-info">
  <div class="modal modal-admin-info">
    <span class="btn-cerrar btn-cerrar-modal-admin-info">❌</span>
    <div class="mensaje-modal mensaje-modal-admin-info">
      <img src="" alt="" class="img-modal-info" />
      <h4 class="titulo-modal-info"></h4>
    </div>
  </div>
</div>

<div class="container-loader-admin-info">
  <img src="{{url_for('static',filename='img/three-dots.svg')}}" alt="Cargando..." />
</div>

{%endblock%}

<!---->
{%block scripts%}
<script src="{{url_for('static',filename='js/adminjs/admin-informacion.js')}}"></script>
{%endblock%}
