{% extends 'base/admin-layout.html'%}
<!---->

{%block title%}Crear Medico{%endblock%}
<!---->

{%block container%}
<div>
  <a href="/admin/{{id}}/medicos">Regresar</a>
</div>
<h1 class="crear-usuario-title">Crear Medico</h1>

<form action="" method="POST" id="crear-medico-form" class="crear-form">
  <input id="csrf_token" name="csrf_token" type="hidden" value="{{csrf_token()}}" />

  <div class="input-container">
    <label for="nombres_medico">Nombres</label>
    <input type="text" name="nombres_medico" id="nombres_medico" required />
  </div>

  <div class="input-container">
    <label for="apellidos_medico">Apellidos</label>
    <input type="text" name="apellidos_medico" id="apellidos_medico" required />
  </div>

  <div class="input-container">
    <label for="tipo_documento_medico">Tipo documento</label>
    <select name="tipo_documento_medico" id="tipo_documento_medico">
      <option value="cc">C.C</option>
      <option value="ce">C.E</option>
      <option value="ti">T.I</option>
    </select>
  </div>

  <div class="input-container">
    <label for="documento_medico">Documento</label>
    <input type="text" name="documento_medico" id="documento_medico" required />
  </div>

  <div class="input-container">
    <label for="especialidad_medico">Especialidad</label>
    <select name="especialidad_medico" id="especialidad_medico" required></select>
  </div>

  <div class="input-container">
    <label for="email_medico">Email</label>
    <input type="email" name="email_medico" id="email_medico" required />
  </div>

  <div class="input-container">
    <label for="password_medico">Password</label>
    <input type="password" name="password_medico" id="password_medico" required />
  </div>

  <div class="input-container">
    <input type="button" value="Crear Medico" class="btn-crear-medico" />
  </div>
</form>

<div class="container-modal container-modal-crear-medico">
  <div class="modal modal-crear-medico">
    <div class="mensaje-modal mensaje-modal-crear-medico"></div>
    <div class="input-container">
      <input type="button" value="Aceptar" class="btn-aceptar" />
    </div>
  </div>
</div>

{%endblock%}

<!---->
{%block scripts%}
<script src="{{url_for('static',filename='js/adminjs/crear-medico.js')}}"></script>
{%endblock%}
