{% extends 'base/admin-layout.html'%}
<!---->

{%block title%}Crear Paciente{%endblock%}
<!---->

{%block container%}
<div>
  <a href="/admin/{{id}}/pacientes">Regresar</a>
</div>
<h1 class="crear-usuario-title">Crear Paciente</h1>
{%for msg in get_flashed_messages()%}
<div>{{msg}}</div>
{%endfor%}
<form action="" method="POST" id="crear-paciente-form" class="crear-form">
  {{ form.csrf_token }}
  <div>
    <div class="input-container">{{form.nombres_paciente.label}}{{form.nombres_paciente}}</div>
    <div class="input-container">{{form.apellidos_paciente.label}}{{form.apellidos_paciente}}</div>
    <div class="input-container">
      {{form.tipo_documento_paciente.label}}{{form.tipo_documento_paciente}}
    </div>
    <div class="input-container">{{form.documento_paciente.label}}{{form.documento_paciente}}</div>
  </div>

  <div>
    <div class="input-container">{{form.genero_paciente.label}}{{form.genero_paciente}}</div>
    <div class="input-container">{{form.email_paciente.label}}{{form.email_paciente}}</div>
    <div class="input-container">{{form.password_paciente.label}}{{form.password_paciente}}</div>
    <div class="input-container">{{form.submit_crear_paciente()}}</div>
  </div>
</form>

<div>
  <!--Verificamos si los campos contienen errores-->
  {% if form.errors.items() %}
  <ul>
    {% for field, error in form.errors.items() %}
    <!--se hace ''.join() para que se muestre como cadena de texto-->
    <li>{{''.join(error)}}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

{%endblock%}
