{% extends 'base/layout-index.html' %}

<!---->
{% block title %} {{title_login}} {% endblock %}

<!---->
{% block content %}
<main class="container">
  <h1 class="main-title">Iniciar Sesión</h1>

  {% for msg in get_flashed_messages() %}
    <div class="mensaje-flash">
        {{ msg }}
    </div>
  {% endfor %}
  <form action="" method="POST" id="login-form" class="login-form" novalidate>
    {{ form.csrf_token }}
    <div class="input-container">
      {{form.emailuser.label}}{{form.emailuser}}
      <!-- {% if form.emailuser.errors %}
        <ul>
          {% for error in form.emailuser.errors %}
          <li>{{error}}</li>
          {% endfor %}
        </ul>
      {% endif %} -->
    </div>
    <div class="input-container">{{form.password_login.label}}{{form.password_login}}</div>

    <div>
      <!--Verificamos si los campos contienen errores-->
      {% if form.errors.items() %}
      <ul>
        {% for field, error in form.errors.items() %}
        <!--se hace ''.join() para que se muestre como cadena de texto-->
        <li>{{''.join(error)}}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="btn-container">{{form.submitLogin()}}</div>
  </form>
</main>
{% endblock %}
