{% extends 'base/layout-index.html' %}

<!---->
{% block title %} {{title}} {% endblock %}

<!---->
{% block content %}
<main class="container">
  <h1 class="main-title">Registro</h1>

  {% for msg in get_flashed_messages() %}
  <div class="mensaje-flash {{class_registro}}">{{ msg }}</div>
  {% endfor %}
  <form action="" method="POST" id="registro-form" class="registro-form">
    {{ form.csrf_token }}
    <div>
      <div class="input-container">{{form.nombres_usuario.label}}{{form.nombres_usuario}}</div>
      <div class="input-container">{{form.apellidos_usuario.label}}{{form.apellidos_usuario}}</div>
      <div class="input-container">{{form.tipo_documento.label}}{{form.tipo_documento}}</div>
      <div class="input-container">{{form.documento_usuario.label}}{{form.documento_usuario}}</div>
    </div>

    <div>
      <div class="input-container">{{form.genero_usuario.label}}{{form.genero_usuario}}</div>
      <div class="input-container">{{form.email_usuario.label}}{{form.email_usuario}}</div>
      <div class="input-container">{{form.password_usuario.label}}{{form.password_usuario}}</div>
      <div class="btn-container">{{form.submitLogin()}}</div>
    </div>
  </form>
  <div>
    <!--Verificamos si los campos contienen errores-->
    {% if form.errors.items() %}
    <ul>
      {% for field, error in form.errors.items() %}
      <!--se hace ''.join() para que se muestre como cadena de texto-->
      <li>{{''.join(error)}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</main>

{% endblock %}
