{% extends 'base/layout-doctor.html' %}

<!---->
{% block title %}Atender{% endblock %}

<!---->
{% block content%}
<h2>Atender Cita</h2>

<table class="table-agenda">
  <thead>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Tipo Documento</th>
    <th>Documento</th>
    <th>Fecha</th>
    <th>Turno</th>
  </thead>
  <tbody class="tabla-agenda-body">
    <tr class="paciente-agenda">
      <td>{{usuario.nombreUsuario}}</td>
      <td>{{usuario.apellidoUsuario}}</td>
      <td>{{usuario.tipoDocumento}}</td>
      <td>{{usuario.idPaciente}}</td>
      <td>{{usuario.fecha}}</td>
      <td>{{usuario.turno}}</td>
    </tr>
  </tbody>
</table>

<form method="POST" class="form-atender-paciente">
  {{ form.csrf_token }}
  <div>{{form.comentarios_cita.label}} {{form.comentarios_cita}}</div>
  <div class="container-btn-terminar-cita">{{form.finalizar_cita(class="btn-terminar-cita")}}</div>
  <div>
    <!--Verificamos si los campos contienen errores-->
    {% if form.errors.items() %}
    <ul>
      {% for field, error in form.errors.items() %}
      <!--se hace ''.join() para que se muestre como cadena de texto-->
      <li>{{''.join(error)}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</form>

{% endblock %}

<!---->
{%block scripts%} {%endblock%}
