{% extends 'base/layout-doctor.html' %}

<!---->
{% block title %}Inicio{% endblock %}

<!---->
{% block content%}
<h2>Mi Perfil Institucinal</h2>
<div class="perfil-container">
  <div class="perfil-img-container">
    <img src="{{url_for('static',filename='img/doctor-perfil.svg')}}" alt="perfil" />
  </div>

  <div class="perfil-info-conatiner">
    <p>{{ info.nombreUsuario }} {{ info.apellidoUsuario }}</p>

    <p>{{ info.tipoDocumento }} - {{ info.numDocumento }}</p>

    <p>{{ info.correoElectronico }}</p>

    <p>{{ info.nombreEspecialidad }}</p>
  </div>
</div>
{% endblock %}

<!---->
{%block scripts%} {%endblock%}
