{% extends 'base/layout-doctor.html' %}

<!---->
{% block title %}Agenda{% endblock %}

<!---->
{% block content%}
<h2>Mi Agenda</h2>
<h4>Citas para hoy: {{citas_dia}}</h4>

<div class="container-citas">
  <table class="tabla-agenda">
    <thead>
      <th>Nombre Paciente</th>
      <th>Documento</th>
      <th>Turno</th>
      <th>Fecha</th>
      <th>Atender</th>
    </thead>
    <tbody class="tabla-agenda-body">
      {%if not citas%}
      <tr class="paciente-agenda">
        <td colspan="5">"No hay citas para el dia de hoy"</td>
      </tr>
      {%endif%}
      {%for cita in citas%}
      <tr class="paciente-agenda">
        <td>{{cita["nombreUsuario"]}} {{cita['apellidoUsuario']}}</td>
        <td>{{cita['tipoDocumento']}} - {{cita['numDocumento']}}</td>
        <td class="cita-hora-fecha cita-estado-pendiente">{{cita['turno']}}</td>
        <td>{{cita['fecha']}}</td>
        <td>
          <a href="atender-cita/{{cita['numDocumento']}}/{{cita['fecha']}}" class="btn-atender"
            >Atender</a
          >
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock %}
