{% extends 'base/layout-doctor.html' %}

<!---->
{% block title %}Historial{% endblock %}

<!---->
{% block content%}
<h2>Mi Historial de Citas</h2>
<table class="tabla-historial">
  <thead>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Tipo Documento</th>
    <th>Documento</th>
    <th>Fecha</th>
    <th>Ver</th>
  </thead>
  <tbody class="tabla-historial-body">
    {%if not historial %}
    <tr class="tabla-historial-cita">
      <td colspan="6">Este médico aún no tiene historial de citas atentidas</td>
    </tr>
    {%endif%}
    {%for his in historial%}
    <tr class="tabla-historial-cita">
      <td>{{his.nombreUsuario}}</td>
      <td>{{his.apellidoUsuario}}</td>
      <td>{{his.tipoDocumento}}</td>
      <td>{{his.numDocumento}}</td>
      <td>{{his.fecha}}</td>
      <td>
        <button
          class="btn-ver-cita"
          data-id="{{id}}"
          data-paciente="{{his.numDocumento}}"
          data-fecha="{{his.fecha}}"
        >
          Ver Cita
        </button>
      </td>
    </tr>

    {%endfor%}
  </tbody>
</table>

<div class="container-ver-historia-cita">
  <div class="modal-ver-historia-cita">
    <h2>Información de la Cita</h3>
      <div class="mensaje-modal-ver"></div>
      <button class="btn-cerrar-ver">❌</button>
  </div>
</div>

{% endblock %}
