{% extends 'base/layout-doctor.html' %}
<!---->
{% block title %}Perfil Médico{% endblock %}
<!---->
{% block content%}
<div>
  Mi Perfil Institucional
  <div><img src="{{url_for('static',filename='img/doctor-perfil.svg')}}" alt="perfil" /></div>

  <div>{{ info.nombreUsuario }}</div>

  <div>{{ info.apellidoUsuario }}</div>

  <div>{{ info.tipoDocumento }}</div>

  <div>{{ info.numDocumento }}</div>

  <div>{{ info.correoElectronico }}</div>

  <div>{{ info.nombreEspecialidad }}</div>
</div>
{% endblock %}
