{% extends 'base/layout-index.html' %}
<!---->
{% block title %}{{title}}{% endblock %}

<!---->
{% block content %}
<div class="img-content">
  <h2 class="text-img-content">
    Bienvenidos al <br />
    CAMINO Salud Metropolitana
  </h2>
</div>

<main class="container">
  <h1 class="main-title">SERVICIOS</h1>
  <section class="cards">
    <article class="card">
      <div class="card-img">
        <img src="{{url_for('static',filename='img/doctor.svg')}}" alt="Doctor" />
      </div>
      <h3>MEDICINA GENERAL</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt laudantium eius
        praesentium totam impedit illum, ab libero molestiae corrupti. Soluta, iure ipsa! Sit quo
        minima aliquid molestiae nihil sed nobis.
      </p>
    </article>
    <article class="card">
      <div class="card-img">
        <img src="{{url_for('static',filename='img/dentist.svg')}}" alt="Dentista" />
      </div>
      <h3>ODONTOLOGÍA</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt laudantium eius
        praesentium totam impedit illum, ab libero molestiae corrupti. Soluta, iure ipsa! Sit quo
        minima aliquid molestiae nihil sed nobis.
      </p>
    </article>
    <article class="card">
      <div class="card-img">
        <img src="{{url_for('static',filename='img/ophta.svg')}}" alt="Oftalmologo" />
      </div>
      <h3>OFTALMOLOGIA</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt laudantium eius
        praesentium totam impedit illum, ab libero molestiae corrupti. Soluta, iure ipsa! Sit quo
        minima aliquid molestiae nihil sed nobis.
      </p>
    </article>
  </section>
</main>
{% endblock %}
